<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/games.js"></script>
		<title>Football Battle Royale</title>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>

		<!-- hitwebcounter Code START -->
<a href="http://www.hitwebcounter.com" target="_blank">
<img src="http://hitwebcounter.com/counter/counter.php?page=7019942&style=0030&nbdigits=5&type=page&initCount=0" title="URL Counter" Alt="URL Counter"   border="0" >
</a>                                        <br/>
                                        <!-- hitwebcounter.com --><a href="http://www.hitwebcounter.com" title="" 
                                        target="_blank" style="font-family: ; 
                                        font-size: px; color: #; text-decoration:  ;"><>                                        </>
                                        </a>   
                            
	</body>
	<style>
		body{
			text-align: center;
		}
	</style>
</html>

