<main class="container">

 <section class="main-section">


   <h1>Welcome</h1>

   <h2>Football Battle</h2>

   <h2><a href="/predictions">Make Your Picks</a></h2>

 </section>
</main>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script type="text/javascript" src="js/util.js"></script>

<script type="text/javascript" src="js/login.js"></script>

<style>
  main {
   padding-top: 165px;
 }

.main-section {
   float: center;
   width: 100%;
   max-width: 650px;
   background-color: greenyellow;
   /* Box-model */
   padding: 30px;
   /* Positioning */
   margin-left: 380px;
   /* Visual */
   border: 6px solid rgb(6, 43, 5);
 }

9:56 AM
body,
html {
    min-height: 100%;
}

body {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/AmFBfield.svg/2000px-AmFBfield.svg.png);
    background-size:cover;
   background-repeat: repeat;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; /change to desired font here

   /* Typography */
   font-size: 18px;
   font-weight: 900;
   line-height: 34px;
   color: rgb(0, 0, 0);
}
</style>
