<main class="container">

 <section class="main-section">


   <h1>Welcome</h1>

   <h2>Football Battle</h2>

   <h2><a href="/predictions">Make Your Picks</a></h2>

 </section>
</main>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script type="text/javascript" src="js/util.js"></script>

<script type="text/javascript" src="js/login.js"></script>
