
<div><h1>Home________Away_____Winner </h1></div>
{{#each games}}
<div> <h2>{{Home}}_______{{away}}_______{{winner}}</h2></div>

{{/each}}


 <section class="banners">
        <div class="left-half">
          <article>
            <img src="assets/images/LeftBanner.png" alt="Left Banner">
        </article>
        </div>
        <div class="right-half">
          <article>
            <img src="assets/images/RightBanner.png" alt="Right Banner">
          </article>
        </div>
      </section>
      
